    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/">Accueil</a></li>
          <div *ngIf="(getUserRole() === 'role_user') || (getUserRole() === 'Utilisateur')">
              <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/offers/trip" >Nos voyages</a></li>
          </div>
          <div *ngIf="(getUserRole() === 'role_user') || (getUserRole() === 'Utilisateur')">
              <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/offers/ride" >Nos trajets</a></li>
          </div>
          <div *ngIf="(getUserRole() === 'role_user') || (getUserRole() === 'Utilisateur')">
              <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/offers/renting" >Nos locations</a></li>
          </div>
          <div *ngIf="isLoggedIn() && (getUserRole() === 'Utilisateur')">
              <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/booking" >Mes réservations</a></li>
          </div>
          <div *ngIf="(getUserRole() === 'Agence')">
              <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/my-offers-agency" >Mes offres</a></li>
          </div>
          <div *ngIf="(getUserRole() === 'Particulier')">
              <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/my-offers-individual" >Mes offres</a></li>
          </div>
        </ul>
        <ul class="navbar-nav">
            <div *ngIf="!isLoggedIn()">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signup" >S'inscrire</a></li>
            </div>
            <div *ngIf="!isLoggedIn()">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/login" >Se connecter</a></li>
            </div>
            <div *ngIf="isLoggedIn()">
                <li class="nav-item"><a class="nav-link disabled">{{ getLogin() }}</a></li>
            </div>
            <div *ngIf="isLoggedIn()">
                <li class="nav-item"><button (click)='logout()' class='btn btn-danger'>Se déconnecter</button></li>
            </div>
        </ul>
    </div>
</nav>

<ng-container *ngIf="isHomePage">
    <div class="card text-center mx-auto" style="margin-top:60px;">
        <div class="card-header">
        Accueil
        </div>
        <div class="card mb-3">
            <img class="card-img-top" src='assets/images/banniere-voyage.png' alt="Card image cap">
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ pageTitle }}</h4>
            <p class="card-text" [innerHtml]="pageText"></p>
            <ng-container *ngIf="isLoggedIn()">
                <ng-container *ngIf="getUserRole() === 'Utilisateur'">
                    <a routerLink="/offers/trip" class="btn btn-primary">Voyages</a>
                    <a routerLink="/offers/ride" class="btn btn-primary">Trajets</a>
                    <a routerLink="/offers/renting" class="btn btn-primary">Locations</a>
                </ng-container>
                <a *ngIf="getUserRole() === 'Particulier'" routerLink="/my-offers-individual" class="btn btn-primary">Mes offres</a>
                <a *ngIf="getUserRole() === 'Agence'" routerLink="/my-offers-agency" class="btn btn-primary">Mes offres</a>
            </ng-container>
            <a *ngIf="!isLoggedIn()" routerLink="/login" class="btn btn-primary">Se connecter</a>
        </div>
    </div>
</ng-container>
<router-outlet></router-outlet>
