<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-12">
        <h2>{{ pageTitle }}</h2>
        <hr>
    </div>
    <div id="googleMap" style="width:100%;height:400px; border: 1px solid black"></div>
    <div class="col-md-3"></div>
    <div class="col-md-12">
        <hr>
        <h5>Offres disponibles</h5>
    </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
            <th *ngFor="let obj of tableHead">{{ obj }}</th>
        </tr>
      </thead>
      <tbody>
            <tr *ngFor="let rowContent of tableContent">
            <ng-container *ngIf="url === 'trip'">
                <td>{{rowContent.address}}</td>
                <td>{{rowContent.city}}</td>
                <td>{{rowContent.country}}</td>
                <td>{{rowContent.price}}</td>
                <td>{{rowContent.startDate.toLocaleDateString()}}</td>
                <td>{{rowContent.endDate.toLocaleDateString()}}</td>
                <td>{{rowContent.startArea}}</td>
                <td>{{rowContent.arrivalArea}}</td>
                <td>{{rowContent.time}}</td>
                <td>{{rowContent.description}}</td>
            </ng-container>
            <ng-container *ngIf="url === 'renting'">
                <td>{{rowContent.country}}</td>
                <td>{{rowContent.city}}</td>
                <td>{{rowContent.address}}</td>
                <td>{{rowContent.price}}</td>
                <td>{{rowContent.startDate.toLocaleDateString()}}</td>
                <td>{{rowContent.time}}</td>
                <td>{{rowContent.surface}}</td>
                <td>{{rowContent.description}}</td>
            </ng-container>
            <ng-container *ngIf="url === 'ride'">
                <td>{{rowContent.rideStartCity}}</td>
                <td>{{rowContent.rideArrivalCity}}</td>
                <td>{{rowContent.rideStart}}</td>
                <td>{{rowContent.rideArrival}}</td>
                <td>{{rowContent.ridePrice}}</td>
                <td>{{rowContent.rideSeat}}</td>
                <td>{{rowContent.rideDate.toLocaleDateString()}}</td>
            </ng-container>
      </tbody>
    </table>
  </div>
</div>
